body {
  background-color: #E9D8FD;
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #F3E8FF;
  padding:20px;
  border-radius: 8px;
  width:400px
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  display:flex;
  margin-bottom: 20px;
}

.input-group input {
  flex-grow:1;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.input-group button {
  background-color: #4299E1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.task {
  display:flex;
  align-items: center;
  padding: 10px;
  background-color: #CBD5E0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.task span {
  flex-grow: 1;
}
.task button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}
.task button.edit {
  background-color: #ECC94B;
  border-radius: 4px;
}
.task button.delete {
  background-color: #F56565;
  border-radius: 4px;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.actions button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.actions .check-all {
  background-color: #4299E1;
  color: white;
}
.actions .delete-tasks {
  background-color: #F56565;
  color: white;
}

